/* 
EDE6DB
417D7A
1D5C63
1A3C40
*/

#navbar {
  background-color: transparent;
}

#hero {
  height: 850px;
  background-image: url("./images/marita-kavelashvili-ugnrXk1129g-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

#gallery h1 {
  color: #2c5944;
}

#gallery-card {
  border: 2px solid #2c5944 !important;
}

#footer {
  background-color: #333;
}

#footer-social {
  font-size: 2rem;
}

body {
  background-color: #eee;
}

.spacer {
  height: 40%;
}

.text-purple {
  color: #6610f2;
}

.altcademy {
  color: #4164e2;
  text-decoration: none;
}

.fs-tiny {
  font-size: 0.8rem;
}

button.send-btn {
  width: 100px;
  background-color: #198754;
}

/* Images */

.aspectRatioBox {
  padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
  background-size: cover;
  background-position: center;
}

.apple-clone-image {
  background-image: url("./images/apple-clone-image.jpg");
}

.airbnb-clone-image {
  background-image: url("./images/airbnb-news-clone-image.jpg");
}

.newsweek-clone-image {
  background-image: url("./images/newsweek-clone-image.jpg");
}

/* hover effects */

nav li a:hover,
nav li a:active {
  border-bottom: 2px solid black;
}

i.fa-html5:hover {
  color: #dc3545;
}

i.fa-css3-alt:hover {
  color: #0d6efd;
}

i.fa-git-alt:hover {
  color: #198754;
}

i.fa-bootstrap:hover {
  color: #6610f2;
}

i.fa-js:hover {
  color: #ffc107;
}

i.fa-react:hover {
  color: #0dcaf0;
}

#gallery-card:hover {
  transform: scale(1.03);
}
